html,
body {
  word-break: break-word;
  font-family: "Inter", sans-serif;
}
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}
aside {
  background-image: linear-gradient(to left, #689091, #6c599d);
}
a {
  color: inherit;
}
aside a:hover {
  color: inherit;
  opacity: 0.7;
}
.badge {
  border-radius: 0;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  cursor: pointer;
}
.badge.bg-light {
  color: #6e629f;
}
.badge.bg-light {
  color: #6e629f;
}

.badge.badge-gradient {
  color: #f8f9fa;
  background-image: linear-gradient(to right, #689091, #6c599d);
}
.text-bold {
  font-weight: bold;
}
.quote {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  font-family: "Yeseva One", cursive;
  font-size: 1rem;
}
